@font-face {
  font-family: "Uiua Code Font";
  src: url('../fonts/Uiua386.ttf') format("truetype");
}

/*
:root {
  --palette-brightest: #ffcc00;
  --palette-brighter: #febf00;
  --palette-bright: #eb5b00;
  --palette-dark: #b12c00;
  --palette-darkest: #121212;
  --palette-anchors: #ffc07f;
}
*/

:root {
  --palette-brightest: #fefefe;
  --palette-brighter: #eee;
  --palette-bright: #999;
  --palette-dark: #800080;
  --palette-darkest: #121212;
  --palette-anchors: #fef0ff;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--palette-bright);
}

/*
h2, h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: -15px;
}
*/

p {
  color: var(--palette-brighter);
}

a {
  color: var(--palette-anchors);
}

body {
  background-color: var(--palette-darkest);
  font-size: 1.15em;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80ch; 
  padding: 1rem; 
  line-height: 1.4;
}

ul {
  list-style-type: none;
  color: var(--palette-brighter);
}

pre:has(> code) {
  overflow-x: auto;
  padding: 10px;
  color: #ccc;
}

code {
  font-family: "Uiua Code Font", monospace;
  font-weight: 500;
  background-color: #2A2A2A;
}

code:not([data-lang="uiua"]) {
  white-space:nowrap;
}

.pagination-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
