@font-face {
  font-family: "Code Font";
  src: url(/fonts/Uiua386.ttf) format("truetype");
}

pre, .hljs {
  overflow-x: auto;
  background-color: #333333;
  padding: 10px;
  font-family: "Code Font", monospace;
  font-weight: 500;
  font-size: 1.15em;
  color: #ccc;
}

/* For glyphs to look like the website */
/* reference: https://github.com/uiua-lang/uiua/blob/main/site/styles.css */
/* May have to change this and the keywords in the definition later in case colours drift */
.hljs-dyadic-pervasive, .hljs-dyadic-function {
  color: #54b0fc;
}

.hljs-iterating-modifier, .hljs-monadic-modifier, .hljs-arguments {
  color: #f0c36f;
}

.hljs-literal, .hljs-bound-function {
  color: #f08050;
}

.hljs-monadic-function {
  color: #95d16a;
}

.hljs-dyadic-modifier {
  color: #cc6be9;
}


