@font-face {
  font-family: "Code Font";
  src: url(/fonts/Uiua386.ttf) format("truetype");
}


.hljs {
  background-color: #333333;
  padding: 10px;
  font-family: "Code Font", monospace;
  font-weight: 500;
  font-size: 1.6em;
  color: #ccc;
}

/* For glyphs to look like the website */
/* reference: https://github.com/uiua-lang/uiua/blob/main/site/styles.css */
/* May have to change this and the keywrds in the definition later in case colours drift */
.hljs-arguments {
  color: #f0c36f;
}
.hljs-dyadic-pervasive {
  color: #54b0fc;
}

.hljs-iterating-modifier {
  color: #f0c36f;
}

.hljs-literal {
  color: #f08050;
}


